{% extends "base.html" %}

{% block title %}
{{ object.short_code }} | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="">
        <h1>Success!</h1>
        <p>{{ object.url }}</p>
        <p><a class="btn btn-primary btn-link" href="{% url 'scode' object.short_code %}">{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{{ request.object.get_absolute_url }}{% url 'scode' object.short_code %}</a></p>
    <a class="btn btn-default" href="/">New</a>
    </div>

{% endblock content %}